@import '../../styles/breakpoints.scss';

.signin-page {
  background: #bdbdbd;

  &__wrapper {
    margin: 0 auto;
  }
}

.signin {
  background: #fff;
  border-radius: 0.8rem;
  padding: 6rem;
  max-width: 60rem;

  &__title {
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .signin {
    padding: 4.5rem;

    &__title {
      margin-bottom: 6rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .signin {
    padding: 3rem;

    &__title {
      margin-bottom: 4rem;
    }
  }
}
