@import '../../styles/breakpoints.scss';

.profile-page {
  background: #5e5e5e;
  height: 150vh;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info {
    border-radius: 0.8rem;
    background: #fff;
    padding: 10rem;
    min-width: 40rem;

    &__title {
      margin-bottom: 6rem;
    }

    &__item {
      margin-bottom: 6rem;
    }

    &__btn {
      margin-top: 10rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .profile-page {
    .info {
      padding: 6rem;

      &__title {
        margin-bottom: 4rem;
      }

      &__item {
        margin-bottom: 3rem;
      }

      &__btn {
        margin-top: 6rem;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .profile-page {
    .info {
      padding: 4rem;

      &__title {
        margin-bottom: 3rem;
      }

      &__item {
        margin-bottom: 2.5rem;
      }

      &__btn {
        margin-top: 4rem;
      }
    }
  }
}
